{% extends "base.html" %}
{% block title %}Welcome!{% endblock %}
{% block account %}<span class="glyphicon glyphicon-user"></span><p style="margin: 0 0 0 5px; display: inline-block">Welcome {{ user }}!</p>{% endblock %}
{% block content %}
  {% block calendar %}
  <div class="row main_cal">
    <div class="cal1 col-md-9">
    </div>
    {% endblock %}
    <div class="col-md-3" style="height:100%">
      <div class="my_events">
        <p>Your Reservations:</p>
        <table class="table table-hover">
          <tbody>
          <!-- Should be autopopulated by Django later -->
            {% for event in events %}
            <tr>
              <th scope=row>{{ forloop.counter }}</th> 
              <td>{{ event.start_time|date:'m/d/y' }}</td> 
              <td>{{ event.start_time|date:'g:ia'}} - {{ event.end_time|date:'g:ia'}}</td> 
              <td><span class="btn btn-sm btn-danger">Edit</span></td> 
            </tr> 
            {% endfor %}
          </tbody> 
        </table>
      </div>
    </div>
  </div>
{% endblock %}