<!DOCTYPE html>
<html>
<head>
	<title>Fypus Home</title>
	{% load static %}
	<link href="{% static "css/styles.css" %}" rel="stylesheet">
	<link rel = "{% static "css/font-awesome-4.7.0.css" %}" href="font-awesome-4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
	<div class="list-group">
		<div class="navLogo">
			<a href="/index/"><img id = "logo" src="{% static "images/logo2.png" %}" alt="Fypus logo"></a>
		</div>
		<div class="links">
	      <a class="list-group-item" href="/Search/">Search</a>
	      <a class="list-group-item" href="/profile/">Dashboard</a>
	      <a class="list-group-item" href="/Recruit2/">Recuit</a>
	      <a class="list-group-item" href="/NewLeague/">New League</a>
	      <a class="list-group-item" href="/messages/">Message</a>
	      <a class="list-group-item" href="/help/">Help</a>
	      <a class="list-group-item" href="/login/">Login</a>
	    </div>
  	</div>
</head>
<br>
<br>
<br>
<br>
<hr noshade style="border-top: 0px; width: 100%;border-color: #D7D8D7;display: block;margin: auto;">
<body>	
	<div class = "container">
		<img id = "iphone" src="{% static "images/iphone_mockup.png" %}" alt = "Fypus web app on iphone" style="float: left; width: 37%; height: 37%; padding-top: 30px; padding-right: 100px; padding-left: 50px;">
	</div>
	<div>
		<h2 style="font-family: 'Abel', sans-serif; padding-top: 150px;">Ally with your own network to secure:</h2>
		<ul style="font-family: 'Abel', sans-serif; line-height: 2em; list-style-type: square; list-style-position: inside;">
			<li>Economies of Scale</li>
			<li>Lower Prices</li>
			<li>Greater Negotiating Power</li>
		</ul>
		<p style="font-family: 'Abel', sans-serif;">Small business owners who want to level the playing field together, join now.</p>
		<br>
		<!-- <button style="background-color:#FF4338; border-radius: 4px; moz-border-radius: 4px; webkit-border-radius: 8px;border: none;color:white; width: 250px; height: 40px; text-decoration: none;display: inline-block;cursor: pointer;text-align: center; font-size: 1em;">Request to Join</button> -->
	</div>
	<div class="buttons">
          <div>
            <a class="button" href="/RequestToJoin/" role="button" style="background-color:#FF4338; border-radius: 25px; border: none;color:white; width: 20%; height: 20%; padding-top: 1%; padding-bottom: 1%; font-family: 'Abel', sans-serif; text-decoration: none;display: inline-block;cursor: pointer;text-align: center; font-size: 1em;">Request to Join</a>
          </div>
    </div>
	<div id="footer">
<p style="font-family: 'Abel', sans-serif; text-align: center;padding-top: 20%;">About Us&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Terms&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Policy&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Privacy&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Support</p>
     	</div>

</body>
</html>