<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>withFypus</title>
  <link rel="stylesheet" type="text/css" href="css/style.css"/>
  <script src="jsp/main.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
</head>
<div id="background">
<body>
  <header class="head">
    <div class="fypus">
      <img src="img/fypus.png" class="icon" alt="fypusLogo">
   </div>
  </header>
  <div class="tit">
    <h3> Fypus </h3> 
  </div>
  <div class="header">
    <h3> Ally with your own network to secure: </h3> 
    <ul class="info">
      <li>Economies of Scale</li>
      <li>Lower Prices</li>
      <li>Greater Negotiation Power</li>
    </ul>
    <br>
    <p> Small business owners who want to level the playing field, join now.</p>
  </div>
  <div class="footer">
    <button id="request" type="submit" name="submit">Request to join</button>
  </div>
</body>
</div>
</html>
