<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>withFypus</title>
    {% load static %}
  <link href="{% static "css/styles.css" %}" rel="stylesheet">
  <link rel = "{% static "css/font-awesome-4.7.0.css" %}" href="font-awesome-4.7.0/css/font-awesome.min.css">
  <script src="jsp/main.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
</head>
<body>
  <header class="head">
      <div id="navBar">
            <ul class="nav">
              <li><a href="#profile" title=""><img src="img/profile.png"><span>Profile</span></a></li>
              <li><a href="#recruite" title=""><img src="img/recruit.png"><span>Recruit</span></a></li>
              <li><a href="#search" title=""><img src="img/search.png"><span>Search</span></a></li>
              <li><a href="#addGroup" title=""><img src="img/addGroup.png"><span>Add Group</span></a></li>
              <li><a href="#help" title=""><img src="img/help.png"><span>Help</span></a></li>
              <li><a href="#messenger" title=""><img src="img/messenger.png"><span>Messenger</span></a></li>
            </ul>
      </div>
  </header>
  <div class="profile">
      <img src="img/headshot.jpg" class="img-circle" alt="headshot">
      <h3> Dana Daniels </h3>
      <p> <a href="http://infosci.cornell.edu/academics/mps">MPS Student</a> </p>
  </div>
  <div class="leagueAndNotifications">
      <div class="league">
          <a href="#league">League</a>
      </div>
      <div class="notifications">
          <a href="#notifications">Notifications</a>
      </div>
  </div>
  <div id="league">
      <div class="group">
        <img src="img/groupIcon.jpg" class="img-group" alt="groupIcon">
      </div>
      <div class="groupInfo">
        <h3> Group Name </h3>
        <p> ___ Members </p>
        <p> Total saved: ____ </p>
      </div>
      <div class="arrow">
        <img src="img/nextIcon.png" class="arrowIcon" alt="arrowIcon">
      </div>
  </div>
  <div id="notifications">
  </div>
</body>
</html>
