<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>withFypus</title>
  <link rel="stylesheet" type="text/css" href="css/style.css"/>
  <script src="jsp/main.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
</head>
<div id="background">
<body>
  <header class="head">
    <div class="fypus">
      <img src="img/fypus.png" class="icon" alt="fypusLogo">
   </div>
  </header>
  <div class="header">
    <h2> Request Recieved </h2>
    <br>
    <p> Help other small businesses and increase your power. Recruit members.</p>
    <br>
    <br>
    <br>
    <br>
  </div>
  <div class="footer">
    <button id="request" type="submit" name="submit">Recruit Members</button>
    <p><a href="terms.html">Terms and Conditions</a></p>
  </div>
</body>
</div>
</html>
